@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Trip Sans Ultra';
	src: url('fonts/TripSans-Ultra.woff');
	src: url('fonts/TripSans-Ultra.woff') format('woff'), url('fonts/TripSans-Ultra.woff2') format('.woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Trip Sans';
	src: url('fonts/TripSans-Bold.woff');
	src: url('fonts/TripSans-Bold.woff') format('woff'), url('fonts/TripSans-Bold.woff2') format('.woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Trip Sans';
	src: url('fonts/TripSans-Medium.woff');
	src: url('fonts/TripSans-Medium.woff') format('woff'), url('fonts/TripSans-Medium.woff2') format('.woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Trip Sans';
	src: url('fonts/TripSans-Regular.woff');
	src: url('fonts/TripSans-Regular.woff') format('woff'), url('fonts/TripSans-Regular.woff2') format('.woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Trip Sans', Raleway, Helvetica, Lucida Grande, Arial, sans-serif;
	background-color: #050815;
	background-color: #1a1a1a;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	/* user-select: none; */
	margin-top: -6px;
}

body::-webkit-scrollbar {
	width: 4px;
}

body::-webkit-scrollbar-track {
	background: #1a1a1a;
}

body::-webkit-scrollbar-thumb {
	background: #636363;
}

.bg-parallax {
	background-attachment: fixed;
}

.mouse_scroll {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 110px;
}

.m_scroll_arrows {
	display: block;
	width: 5px;
	height: 5px;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);

	border-right: 2px solid white;
	border-bottom: 2px solid white;
	margin: 0 0 3px 4px;

	width: 16px;
	height: 16px;
}

.unu {
	margin-top: 1px;
}

.unu,
.doi,
.trei {
	-webkit-animation: arrow-animate 1s infinite;
	-moz-animation: arrow-animate 1s infinite;
	animation: arrow-animate 1s infinite;
}

.unu {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-webkit-animation-direction: alternate;

	animation-direction: alternate;
	animation-delay: alternate;
}

.doi {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-webkit-animation-direction: alternate;

	animation-delay: 0.2s;
	animation-direction: alternate;

	margin-top: -6px;
}

.trei {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-webkit-animation-direction: alternate;

	animation-delay: 0.3s;
	animation-direction: alternate;

	margin-top: -6px;
}

@-webkit-keyframes arrow-animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes arrow-animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes arrow-animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes arrow-animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
